@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

p, 
a   {
    font-family: 'Red Hat Display', sans-serif;
}

p{
    color:var(--desaturated-blue);
}

h2{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
}

.container{
    height: 100vh;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--pale-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-header{
    background-image: url(/images/illustration-hero.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    border-radius: 10px 10px 0px 0px;
}

.order-summary{
    padding: 2.6em 3em;
    height: 480px;
    text-align: center;
}

.order-summary p{
    margin: 1em 0 1.1em 0; 
}

.order-summary p,
.plan-details a,{
    font-size: 1em;
}

.order-summary a{
    text-decoration: none;
    color:var(--desaturated-blue);
    font-size: .9rem;
    font-weight: 700;
}

.order-summary a:hover{
    color:var(--dark-blue);
}

.plan-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fe;
    border-radius: 5px;
    padding: 1.5em;
}

.plan-details img{
    height: 50px;
    width: 50px;
}

.plan-details a{
    color: var(--bright-blue);
    text-decoration: underline;
}

.plan-details a:hover{
    text-decoration: none;
    color: var(--desaturated-blue);
}

.price{
    display: flex;
    flex-direction: column;
}

.price p:first-child{
    font-weight: 900;
    color: var(--dark-blue);
}

.price p{
    text-align: left;
    margin: 0 3.5em 0 0;
}

.btn-main{
    width: 100%;
    color: white;
    background-color: var(--bright-blue);
    border: none;
    border-radius: 5px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: .9rem;
    font-weight: 700;
    padding: .8em 0em;
    margin: 1.85em 0 2.5em 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-main:hover{
    background-color: hsl(245, 83%, 68%);
    cursor: pointer;
}

@media (max-width: 415px){
    html {
        font-size: 90%;
      }
}

@media only screen and (max-width: 376px) {
    .container {
      background-image: url(images/pattern-background-desktop.svg);
    }
  }

@media (max-width: 360px){
html {
    font-size: 85%;
    }
.plan-details{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plan-details img{
    margin-bottom: 1em;
}
.plan-details a{
    margin-top: 1em;
}
.price p{
    text-align: center;
    margin: 0;
}
}