@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

p, 
a   {
    font-family: 'Red Hat Display', sans-serif;
    font-size: .8rem;
    font-weight: 500;
}

p{
    color:var(--desaturated-blue);
}

h2{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
}

.container{
    height: 100vh;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--pale-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 225px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-header{
    background-image: url(/images/illustration-hero.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110px;
    border-radius: 10px 10px 0px 0px;
}

.order-summary{
    padding: 1.3em;
    height: 240px;
    text-align: center;
}

.order-summary p,
.plan-details a,
.order-summary a{
    font-size: .6em;
}

.order-summary a{
    text-decoration: none;
    color:var(--desaturated-blue);
}

.order-summary a:hover{
    color:var(--dark-blue);
}

.order-summary h2{
margin-bottom: .1em;
}

.plan-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fe;
    border-radius: 5px;
    margin: .6em 0 .6em 0;
    padding: .8em;
}

.plan-details img{
    height: 25px;
    width: 25px;
}

.plan-details a{
    color: var(--bright-blue);
    text-decoration: underline;
}

.plan-details a:hover{
    text-decoration: none;
    color: var(--desaturated-blue);
}

.price{
    display: flex;
    flex-direction: column;
}

.price p:first-child{
    font-weight: 900;
    color: var(--dark-blue);
}

.price p{
    text-align: left;
    margin-right: 2em;
}

.btn-main{
    width: 100%;
    color: white;
    background-color: var(--bright-blue);
    border: none;
    border-radius: 5px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: .6rem;
    padding: .5em 0em;
    margin-bottom: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-main:hover{
    background-color: var(--desaturated-blue);
    cursor: pointer;
}